* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

/* ==============================
   ========== * HOME * ==========
   ============================== */

.tabs {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

input[type="radio"] {
  position: absolute;
  left: 0;
  width: 24px;
  height: 34%;
  outline: 12px solid;
  outline-offset: -12px;
  z-index: 1;
  appearance: none;
  cursor: pointer;
}

input[type="radio"]:nth-of-type(1) {
  outline-color: #dde1e7;
  top: 0%;
}
input[type="radio"]:nth-of-type(2) {
  outline-color: #c6fec8;
  top: 33%;
}

input[type="radio"]:nth-of-type(3) {
  outline-color: #aaecf0;
  top: 66%;
}

input[type="radio"]:checked + .content {
  transform: translateX(0%);
  transition: transform 0.5s ease 0.5s;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform: translate(-100%);
}

.content:nth-of-type(1) {
  background-color: #dde1e7;
}
.content:nth-of-type(2) {
  background-color: #c6fec8;
}
.content:nth-of-type(3) {
  background-color: #aaecf0;
}

.profile-card {
  max-width: 1100px;
  width: 100%;
}
.profile-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img {
  z-index: 3;
  max-width: 33%;
  border-radius: 15px;
  /* background-color: rgb(187, 108, 136); */
  position: relative;
  box-shadow: 22px 22px 29px #9fa2a6, -22px -22px 29px #ffffff;
  transition: padding 0.1s ease, box-shadow 0.1s ease;
}
.profile-img img {
  border-radius: 15px;
  border: 12px solid #dde1e7;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 30;
}
.profile-img:hover img {
  border: none;
}

.profile-img:hover {
  box-shadow: 10px 10px 17px #9fa2a6, -10px -10px 17px #ffffff;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-description {
  font-size: 1.2rem;
}

.user-description strong {
  font-size: 1.3rem;
}

.content.home ul {
  margin-bottom: 0;
  margin-top: 1.7rem;
}

.socials {
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials:hover > li {
  transform: scale(0.95);
  filter: blur(1px);
}

.content.home li {
  transition: 0.2s ease-in-out;
  list-style-type: none;
  margin-right: 30px;
  font-size: 2.5rem;
}

.socials li:hover {
  filter: blur(0px);
  transform: scale(1);
}

.content.home a {
  color: rgb(82, 81, 81);
  text-decoration: none;
}
.content.home a i {
  border-radius: 13px;
  padding: 2px;
  box-shadow: 11px 11px 18px #9fa2a6, -11px -11px 18px #ffffff;
}

.content.home a:hover {
  color: rgb(187, 108, 136);
}
/* ==============================
======== * PROJECTS * ========
============================== */
.Grid {
  width: 50rem;
  margin: 5rem auto;
}
.Grid-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.Card {
  position: relative;
  /* transform: translateX(-50%); */
  flex: 0 1 15rem;
  background-color: #fff;
  padding-bottom: 5rem;
  transition: background-color 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
  color: #000;
}
.Card-thumb {
  position: relative;
  width: 15rem;
  height: 10rem;
  perspective-origin: 50% 0%;
  perspective: 600px;
  z-index: 1;
}
.Card-image,
.Card-shadow {
  position: absolute;
  display: block;
  width: 15rem;
  height: 10rem;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card-shadow {
  opacity: 0.8;
}
.Card-shadow:nth-child(1) {
  opacity: 0.6;
  background-color: #3ab781;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.07s;
}
.Card-shadow:nth-child(2) {
  opacity: 0.7;
  background-color: #3fb543;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.05s;
}
.Card-shadow:nth-child(3) {
  background-color: #79f321;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.03s;
}
.Card-image {
  position: relative;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #607d8b;
}
.Card-image::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #53d25b;
  content: "";
  opacity: 0;
  transition: opacity 0.1s;
}
.Card-title,
.Card-explore {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
}
.Card-title span,
.Card-explore span {
  padding: 0.5rem;
  flex: 1 1 auto;
  text-align: center;
}
.Card-explore {
  opacity: 0;
  transform: translate(0, -1rem);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3ab78b;
}
.Card-button {
  position: absolute;
  left: 50%;
  top: 5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 2rem;
  border: 2px solid #3fb564;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  transform: translate(-50%, 2rem);
  cursor: pointer;
  transition: all 0.2s;
  opacity: 0;
  outline: none;
  z-index: 4;
  text-transform: uppercase;
  text-decoration: none;
}
.Card:hover,
.Card--active {
  background-color: #f5f5f5;
  cursor: pointer;
}
.Card:hover .Card-thumb,
.Card--active .Card-thumb {
  z-index: 3;
}
.Card:hover .Card-title,
.Card--active .Card-title {
  opacity: 0;
}
.Card:hover .Card-explore,
.Card--active .Card-explore {
  opacity: 1;
  transform: translate(0, 1rem);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
.Card:hover .Card-image,
.Card--active .Card-image {
  transform: scale(1.05) translate(0, -1rem) rotateX(25deg);
}
.Card:hover .Card-image::before,
.Card--active .Card-image::before {
  opacity: 0.4;
}
.Card:hover .Card-shadow:nth-child(3),
.Card--active .Card-shadow:nth-child(3) {
  transform: scale(1.02) translate(0, -0.3rem) rotateX(15deg);
}
.Card:hover .Card-shadow:nth-child(2),
.Card--active .Card-shadow:nth-child(2) {
  transform: scale(0.9) translate(0, 1rem) rotateX(15deg);
}
.Card:hover .Card-shadow:nth-child(1),
.Card--active .Card-shadow:nth-child(1) {
  transform: scale(0.82) translate(0, 2.4rem) rotateX(5deg);
}
.Card:hover .Card-button,
.Card--active .Card-button {
  opacity: 1;
  color: #66b53f;
  transform: translate(-50%, 0);
}
.Card:hover .Card-button:hover,
.Card--active .Card-button:hover {
  color: #fff;
  background-color: #3fb564;
}
.Card--active,
.Card--active:hover {
  background: none;
}
.Card--active .Card-explore,
.Card--active:hover .Card-explore {
  opacity: 0;
  transform: translate(0, 3rem);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card--active .Card-image,
.Card--active:hover .Card-image {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transform: scale(1.05) translate(0, -2.5rem) rotateX(50deg);
}
.Card--active .Card-image::before,
.Card--active:hover .Card-image::before {
  opacity: 0.4;
}
.Card--active .Card-button,
.Card--active:hover .Card-button {
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.42, 0, 0.58, 1);
  transform: translate(-50%, -2rem) scale(1, 0.4);
}
.Grid-row:nth-child(1)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(1)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(6%, 113%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(1)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(6%, 223%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(1)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(81%, 80%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(1)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(-108%, 113%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(1)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(-108%, 223%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(1)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(26%, 80%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(1)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(-222%, 113%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(1)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(-222%, 223%);
}
.Grid-row:nth-child(1)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(1)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(-29%, 80%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(2)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(6%, -55%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(2)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(6%, 55%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(2)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(81%, 0%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(2)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(-108%, -55%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(2)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(-108%, 55%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(2)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(26%, 0%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(2)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(-222%, -55%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(2)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(-222%, 55%);
}
.Grid-row:nth-child(2)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(2)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(-29%, 0%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(3)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(6%, -223%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(3)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(6%, -113%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(1).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(3)
  .Card:nth-child(1)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(81%, -80%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(3)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(-108%, -223%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(3)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(-108%, -113%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(2).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(3)
  .Card:nth-child(2)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(26%, -80%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(3),
.Grid-row:nth-child(3)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(3) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1);
  transform: scale(1) translate(-222%, -223%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(2),
.Grid-row:nth-child(3)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(2) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.1s;
  transform: scale(1) translate(-222%, -113%);
}
.Grid-row:nth-child(3)
  .Card:nth-child(3).Card--active
  .Card-shadow:nth-child(1),
.Grid-row:nth-child(3)
  .Card:nth-child(3)
  .Card--active:hover
  .Card-shadow:nth-child(1) {
  transition: all 0.2s cubic-bezier(0.7, 0, 0.78, 1) 0.2s;
  transform: scale(2.1) translate(-29%, -80%);
}

/* ==============================
======== * CONTACT * ========
============================== */

/*---------------------------------------------*/
.content.contact a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.content.contact a:focus {
  outline: none !important;
}

.content.contact a:hover {
  text-decoration: none;
}

.content.contact p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

/*---------------------------------------------*/
.content.contact input {
  outline: none;
  border: none;
}

.content.contact input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

.content.contact input[type="number"]::-webkit-outer-spin-button,
.content.contact input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.content.contact textarea {
  outline: none;
  border: none;
}

.content.contact textarea:focus,
.content.contact input:focus {
  border-color: transparent !important;
}

.content.contact input::-webkit-input-placeholder {
  color: #bdbdd3;
}
.content.contact input:-moz-placeholder {
  color: #bdbdd3;
}
.content.contact input::-moz-placeholder {
  color: #bdbdd3;
}
.content.contact input:-ms-input-placeholder {
  color: #bdbdd3;
}

.content.contact textarea::-webkit-input-placeholder {
  color: #bdbdd3;
}
.content.contact textarea:-moz-placeholder {
  color: #bdbdd3;
}
.content.contact textarea::-moz-placeholder {
  color: #bdbdd3;
}
.content.contact textarea:-ms-input-placeholder {
  color: #bdbdd3;
}

/*---------------------------------------------*/
.content.contact button {
  outline: none !important;
  border: none;
  background: transparent;
}

.content.contact button:hover {
  cursor: pointer;
}

.content.contact iframe {
  border: none !important;
}

/*---------------------------------------------*/
.content.contact .container {
  max-width: 1200px;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #aaecf0;
}

.wrap-contact {
  width: 550px;
  background: transparent;
  padding: 50px 0px 160px 0px;
}

/*==================================================================
[ Form ]*/

.contact-form {
  width: 100%;
}

.contact-form-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 100%;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 31px;
  font-weight: bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
}

/*---------------------------------------------*/
input.input {
  height: 62px;
  padding: 0 35px 0 35px;
}

textarea.input {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background: transparent;
  box-shadow: inset 3px 3px 7px #6f999c, inset -2px -2px 6px #e6ffff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input {
  width: calc(100% + 20px);
  z-index: 1;
  box-shadow: inset 4px 4px 4px #6f999c, inset -4px -4px 4px #e6ffff;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;

  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background: #4d919d;
  box-shadow: inset 5px 5px 10px #305a61, inset -5px -5px 10px #6ac8d9;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover:before {
  box-shadow: inset 3px 3px 7px #305a61, inset -3px -3px 7px #6ac8d9;
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 1000;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;

  font-weight: bold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 1100;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
